html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/1124099.jpg);
    background-size: cover;
    object-fit: cover;
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
}

